services:
  3wc-web-dev:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: 3wc-web-dev
    ports:
      - '5173:5173'
    volumes:
      - .:/app
    environment:
      NODE_ENV: development
    extra_hosts:
      - 'host.docker.internal:host-gateway'
