@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@import 'tailwindcss';
@config "../../tailwind.config.js";

@layer theme {
  :root,
  :host {
    --font-sans:
      'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
      'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-mono:
      'JetBrains Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
      'Liberation Mono', 'Courier New', monospace;
  }
}

.table-rounded-striped tbody tr:nth-child(odd) td:first-child {
  border-radius: 0.5rem 0 0 0.5rem;
}

.table-rounded-striped tbody tr:nth-child(odd) td:last-child {
  border-radius: 0 0.5rem 0.5rem 0;
}
